<h1>Login</h1>

<%flash.each do |message_type, message| %>
    <%= message_type %>: <%= message %>
<% end %>

<%= form_tag '/sessions', method: :post do %>
<%= label_tag :username%>
<%= text_field_tag :username%><br>
<%= label_tag :password %>
<%= password_field_tag :password%><br>
<%= submit_tag "Log in"%>
<% end %>
